
<app-header [message]="pmessage"></app-header>

<main class="container">

  <h1 style="background-color: #ecfaff;">{{tpmessage}}1</h1>
  <table style="height: 800px;">
     <tr>
        <td style="width:150px;background-color: bisque;vertical-align: center;">
            <app-leftnav></app-leftnav>
        </td>
        <td style="width: 900px;vertical-align: center;">

            <router-outlet></router-outlet>
           <!-- <app-customer-list (messageToParent)="fooMessage($event)"   [papa]="customer"></app-customer-list> -->

        </td>
     </tr>

  </table>

</main>

<app-footer></app-footer>


